<div class="container mt-5">
    @if (contactsList.length == 0) {
    <h2 class="text-center">Non ci sono contatti</h2>
    }@else {
    @for (contatto of contactsList; track $index) {
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="card mb-3 card-fixed">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ contatto.Nome }} {{ contatto.Cognome }}</h5>

                        <p class="card-text"><small class="text-body-secondary">{{ contatto.Tipologia }} {{
                                contatto.RagioneSociale }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">{{ contatto.Email }}</small></p>
                        <p class="card-text"><small class="text-body-secondary">{{ contatto.Ntelefonico }}</small></p>

                    </div>
                </div>
            </div>
        </div>

    </div>
    }}
</div>