<div class="container mt-5">
    @if (contactsList.length == 0) {
    <h2 class="text-center">Non ci sono contatti</h2>
    }@else {
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @for (contatto of contactsList; track $index) {

        <div class="col">
            <div class="card mb-3 card-fixed h-100 m-1" style="border: 1px solid black;">


                <div class="card-body">
                    <h5 class="card-title">{{ contatto.Nome }} {{ contatto.Cognome }}</h5>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            {{ contatto.Tipologia && contatto.RagioneSociale ? contatto.Tipologia + ' ' +
                            contatto.RagioneSociale : '-' }}
                        </small>
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            {{ contatto.Email ? contatto.Email : '-' }}
                        </small>
                    </p>

                    <p class="card-text">
                        <small class="text-body-secondary">
                            {{ contatto.Ntelefonico ? contatto.Ntelefonico : '-' }}
                        </small>
                    </p>


                    <button class="btn btn-primary me-1" [routerLink]="['/contatti', contatto.id]">Visualizza</button>
                    <button class="btn btn-primary me-1"
                        [routerLink]="['/contatti', contatto.id, 'edit']">Modifica</button>
                    <button class="btn btn-danger" (click)="cancellaContato(contatto.id)">Cancella</button>
                </div>

            </div>
        </div>
        }
    </div>
    }
</div>